<!DOCTYPE html>
<meta charset="UTF-8">
  <head>
    <link rel= "stylesheet" href= "/CSS Documents/Image carousel style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet"> 
  </head>
  <body>

  <div id="wrapper">
     
      <h1 style="display: inline; position: relative; left: 550px; top: 50px;">Foto slider</h1>

    <div class="container">
    <div class="mySlides">
    <div class="numbertext">1 / 6</div>
      <img src= "/HTML Documents/HTML Images/Eiffeltower.jpg" style= "width: 100%">
    </div>

    
    <div class="mySlides">
    <div class="numbertext">2 / 6</div>
      <img src="/HTML Documents/HTML Images/Milan.jpg" style="width:100%">
    </div>

    <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <img src="/HTML Documents/HTML Images/Athens.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">4 / 6</div>
      <img src="HTML Images/London.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">5 / 6</div>
      <img src="HTML Images/Detroit.jpg" style="width:100%">
    </div>

    <div class="mySlides">
      <div class="numbertext">6 / 6</div>
      <img src="/HTML Documents/HTML Images/Tokyo.jpg" style="width:100%">
    </div>

    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  
    <div class="caption-container">
      <p id="caption"></p>
    </div>

    
  <div class="row">
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/Eiffeltower.jpg" style="width:100%" onclick="currentSlide(1)" alt="Eiffeltower">
    </div>
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/Milan.jpg" style="width:100%" onclick="currentSlide(2)" alt="Milan">
    </div>
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/Athens.jpg" style="width:100%" onclick="currentSlide(3)" alt="Athens">
    </div>
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/London.jpg" style="width:100%" onclick="currentSlide(4)" alt="London">
    </div>
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/Detroit.jpg" style="width:100%" onclick="currentSlide(5)" alt="Detroit">
    </div>    
    <div class="column">
      <img class="demo cursor" src="/HTML Documents/HTML Images/Tokyo.jpg" style="width:100%" onclick="currentSlide(6)" alt="Tokyo">
    
    <script src= "/Javascript Documents/Image carousel script.js" defer></script>
      </div>
   </div>
  </div>
 </body>
</html>







































